@CHARSET "UTF-8";

@import "bourbon";

@import
	url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700)
	;

@import
	url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css)
	;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: transparent;
}

.float {
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover, .float:focus, .float:active {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.topbar {
	background: #006391;
	padding: 12px;
}

.navbar {
	position: fixed;
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	position: fixed;
	width: 100%;
}

.navbarButton {
	float: left;
}

.navbarLink {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbarLink:hover {
	background-color: #006391;
	color: white;
}

.active {
	background-color: #006391;
	color: white;
}

#search {
	/*padding: 8px 15px;*/
	border: 0px solid #dbdbdb;
	line-height: 2em;
	/*top: 10px;*/
}

#button {
	position: relative;
	padding: 6px 15px;
	left: -8px;
	border: 2px solid #207cca;
	background-color: #207cca;
	color: #fafafa;
}

#button:hover {
	background-color: #fafafa;
	color: #207cca;
}

#searchbar {
	padding-top: 10px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 13px;    /*default size is 13px*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}